/* ic_menu */


position: absolute;
width: 20px;
height: 14px;
left: 284px;
top: 19px;

background: #1A2236;


/* Group 48 */


position: absolute;
width: 288px;
height: 336px;
left: 16px;
top: 104px;



/* Group 118 */


position: absolute;
width: 290px;
height: 1217px;
left: 15px;
top: 2862px;



/* Group 120 */


position: absolute;
width: 322px;
height: 813px;
left: -2px;
top: 4129px;



/* image_geometry_1 */


position: absolute;
width: 111px;
height: 74px;
left: 0px;
top: 0px;



/* Group 119 */


position: absolute;
width: 320px;
height: 2134px;
left: 0px;
top: 672px;
